<mat-form-field>
  <mat-label>Año</mat-label>
  <mat-select [(ngModel)]="year" (valueChange)="changeYear()">
     <mat-option *ngFor="let yearSelect of yearList" [value]="yearSelect">
      {{yearSelect}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="container" fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-card class="example-card" *ngFor="let team of teamList">
    <mat-card-header>
      <mat-card-title>{{team.fullName}}</mat-card-title>
      <mat-card-subtitle>{{team.city}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="teamURLbase1 + team.teamId + teamURLbase2" alt="Logo">
  </mat-card>
</div>