button {
    font-size: 1.3em;
    width: 10%;
}

#player {
    width: 100%;
    margin: 0 auto;
}

#img {
    margin: 0px;
}

#text {
    text-align: justify;
    font-weight: bold;
}

#filter {
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 5));
}

div {
    margin-right: 15px;
}

div:first-child {
    text-align: center;
    margin: 0 auto;
}

#contenedor {
    text-align: center;
    margin: 0 auto;
}

.mat-card-image {
    margin: 0 auto;
}

#stats {
    width: 100%;
    margin: 0px auto;
    font-size: 0.75em;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
}

td {
    color: black;
}

td,
th {
    padding: 10px;
}

#partido {
    width: 60%;
}

#tiro {
    width: 80%;
}

#partido table,
#partido td,
#tiro table,
#tiro td,
#totales table,
#totales td {
    border: 1px solid rgb(200, 200, 200);
}

#cabecera {
    background-color: rgb(200, 200, 200);
}

.mainHeader {
    background-color: black;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.mainHeader img {
    height: 80%;
}

.mainHeader a {
    text-decoration: none;
    color: white;
    font-family: 'nba';
    font-size: 2em;
    border-bottom: solid white 3px;
}