:root {
    --blue: rgb(29, 66, 138);
    --red: rgb(200, 16, 46);
    --white: rgb(255, 255, 255);
}

div {
    margin-right: 15px;
}

div:first-child {
    text-align: center;
    margin: 0 auto;
}

#contenedor {
    text-align: center;
    margin: 0 auto;
}

.mat-card-image {
    margin: 0 auto;
}

table {
    width: 100%;
    font-size: 0.9em;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 20px auto;
}

td,
th {
    border: 2px solid black;
    padding: 10px;
}

td:hover {
    background-color: rgb(200, 16, 46);
    color: white;
}

th {
    background-color: rgb(29, 66, 138);
    font-weight: normal;
    color: rgb(255, 255, 255);
}